<div class="form">
    <div class="input-container single">
        <input type="text" class="field mandatory emailaddress" placeholder="Email Address"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button request-reset">Request Password Reset</div>
</div>