<div class="icon-container">
    <div class="icon"><i class="icon-emo-thumbsup"></i></div>
    <div class="title">Epsilon</div>
</div>
<div class="buttons double">
    <div class="button bold touch-color dark-button sign-in">Sign In</div>
    <div class="button bold touch-color light-button register">Register</div>
</div>