<nav class="menu slide-menu">
    <ul>
        <li id="home" class="touch-color menu-item"><i class="menu-item-icon icon-home"></i>Home</li>
        <li id="profile" class="touch-color menu-item"><i class="menu-item-icon icon-user"></i>Profile</li>
        <li id="payments" class="touch-color menu-item"><i class="menu-item-icon icon-credit-card"></i>Payments</li>
        <li id="promotions" class="touch-color menu-item"><i class="menu-item-icon icon-star"></i>Promotions</li>
        <li id="share" class="touch-color menu-item"><i class="menu-item-icon icon-share"></i>Share</li>
        <li id="support" class="touch-color menu-item"><i class="menu-item-icon icon-help"></i>Support</li>
        <li id="about" class="touch-color menu-item"><i class="menu-item-icon icon-info"></i>About</li>
    </ul>
</nav>
<div class="menu-close"></div>