<div class="form">
    <div class="input-container single">
        <input type="text" class="firstname" placeholder="First Name"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" class="surname" placeholder="Last Name"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" class="emailaddress" placeholder="Email Address"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="number" step="1" class="mobilenumber" placeholder="Mobile Number"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="password" class="password" placeholder="Password"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button register">Register</div>
</div>