<div class="form">
    <div class="input-container single">
        <input type="text" placeholder="First Name"/>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" placeholder="Last Name"/>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" placeholder="Email Address"/>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="number" step="1" placeholder="Mobile Number"/>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="password" placeholder="Password"/>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button register">Register</div>
</div>