<div class="form">
    <div class="input-container single">
        <input type="password" class="password" placeholder="Password"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button reset">Reset Password</div>
</div>