<div class="form">
    <div class="input-container single short">
        <input type="number" step="1" class="field mandatory verificationcode" placeholder="Verification Code"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button verify">Verify Mobile Number</div>
</div>