<div class="form">
    <div class="input-container single short">
        <input type="number" step="1" class="verificationcode" placeholder="Verification Code"/>
        <span class="error-text"></span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button verify">Verify Mobile Number</div>
</div>