<?xml version='1.0' encoding='utf-8'?>
<widget
        id="uk.co.epsilontechnologies.ClientApp"
        version="0.0.12"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Epsilon</name>

    <description>Epsilon Client App</description>

    <author email="sgibson@epsilontechnologies.co.uk" href="http://www.epsilontechnologies.co.uk"></author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="DisallowOverscroll" value="true" />

</widget>