@import "colors.less";
.buttons {
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.buttons.single .button {
  width: 100%;
}
.buttons.double .button {
  width: 50%;
}
.buttons.triple .button {
  width: 33.3%;
}
.button {
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  float: left;
}
.dark-button{
  color: @white;
  background-color: @darkgray;
}
.blue-button{
  color: @white;
  background-color: @blue;
}
.gray-button{
  color: @black;
  background-color: @gray;
}
.light-button{
  color: @darkgray;
  background-color: @white;
}
.large-icon-button{
  width: 30%;
  background-color: @white;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid @darkgray;
  margin: 20px;
  float: left;
  i{
    font-size: 45px;
  }
  .icon-text{
    text-size: 12px;
  }
}
.delete-card-button{
  padding: 10px 10px 10px 10px;
  text-align: left;
  .icon-trash{
    position: fixed;
  }
}
.add-card-button{
  padding: 10px 20px 10px 10px;
  .icon-credit-card{
    position: fixed;
  }
  .icon-plus{
    position: relative;
    left: 20px;
    top: 13px;
    font-size: 18px;
  }
}
.add-card-button,.delete-card-button{
  margin: 25px;
  font-size: 22px;
  color: @white;
  width: 30px;
  height: 30px;
}