@font-face {
  font-family: Vera;
  src: url(../fonts/bitstream-vera/Vera.ttf);
}
@font-face {
  font-family: Vera-Bold;
  src: url(../fonts/bitstream-vera/Vera-Bold.ttf);
}
@font-face {
  font-family: Vera-Italic;
  src: url(../fonts/bitstream-vera/Vera-Italic.ttf);
}
@font-face {
  font-family: Vera-Bold-Italic;
  src: url(../fonts/bitstream-vera/Vera-Bold-Italic.ttf);
}
@font-face {
  font-family: CourierPrimeBold;
  src: url(../fonts/courier-prime/Courier_Prime_Bold.ttf);
}