@import "colors.less";
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: Jura;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  overflow-x: hidden;
  color: @darkgray;
}
input, textarea, keygen, select, button {
  font-family: Jura;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.background {
  vertical-align: middle;
  background: @primary;
}
.background:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(@white, @darkgray);
  opacity: .4;
  z-index: -1;
}
.app {
  width: 100%;
  height: 100%;
}
.icon-container{
  top: 50%;
  position: absolute;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  color: @white;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.icon{
  font-size: 50px;
  text-shadow: 0px 0px 3px @darkgray;
}
.title{
  font-size: 40px;
  padding: 10px;
  text-shadow: 0px 0px 3px @darkgray;
}
.js-touch-color{
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 100%);
}
.js-touch-size{
  transform: scale(0.95, 0.95);
}
.input-container.single{
  width: 80%;
}
.input-container.double{
  width: 50%;
}
.input-container.triple{
  width: 33%;
}
.input-container{
  margin: 0 auto;
  position: relative;
}
.input-container.error .input-underline{
  border-color: @error;
}
.input-container.error .select-underline{
  border-color: @error;
}
.input-container .error-reason{
  display: none;
}
.input-container.error .error-reason {
  display: inline;
  position: absolute;
  right: 3px;
  bottom: 5px;
  color: @error;
  text-align: right;
}
.input-container.error input {
  padding: 20px 95px 0px 10px;
}
input{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 20px;
  color: @darkgray;
  padding: 20px 10px 0px 10px;
  box-sizing: border-box;
  z-index: 1500;
  position: relative;
}
input:focus{
  outline: 0;
}
::-webkit-input-placeholder {
  color: @white;
}
.select-underline{
  width: 100%;
  height: 3px;
  border-left: 1px solid @white;
  border-right: 1px solid @white;
  border-bottom: 1px solid @white;
}
.input-underline{
  width: 100%;
  height: 3px;
  border-left: 1px solid @white;
  border-right: 1px solid @white;
  border-bottom: 1px solid @white;
}
.menu-icon-container{
  color: @darkgray;
  height: 40px;
  padding-top: 10px;
  z-index: 10;
  position: fixed;
  width: 100%;
}
.icon-menu{
  font-size: 30px;
  padding: 10px 8px 8px 8px;
}
.content{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 12px;
  z-index: 0;
}
.context-icon{
  color: @darkgray;
  font-size: 50px;
}
.context-title{
  font-size: 20px;
  color: @white;
  position: relative;
  top: -18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0px 0px 3px @darkgray;
}
.profile-photo{
  float: right;
  height: 26vw;
  width: 26vw;
  background-color: @white;
  position: fixed;
  right: 26px;
  border-radius: 6px;
  border: 1px solid @darkgray;
  margin-top: 5px;
  .icon-user{
    font-size: 18vw;
    position: relative;
    top: 10px;
    color: @ultralightgray;
  }
}
.half{
  width: 60%;
}
.full{
  width: 100%;
}
.display-text{
  margin: 6px 15px;
  color: white;
  font-size: 14px;
  text-align: left;
  padding: 12px 10px 8px;
  border-bottom: 1px solid @white;
}
.section-title{
  text-align: left;
  padding-left: 22px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
  letter-spacing: 3px;
}
.select-text{
  margin: 0px 15px;
  color: @white;
  font-size: 14px;
  text-align: left;
  padding: 15px 10px 15px;
  border-bottom: 1px solid @white;
}
.input-select{
  color: @white;
  font-size: 20px;
  text-align: left;
  padding: 20px 10px 0px 10px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  i{
    float: right;
    color: @white !important;
  }
  &.selected{
    color: @darkgray;
  }
}
.card-image{
  width: 30px;
  height: 20px;
  position: fixed;
  border-radius: 2px;
  &.mastercard{
    background-image: url(../images/mastercard.gif);
    background-size: 30px 19px;
  }
  &.visa{
    background-image: url(../images/visa.gif);
    background-size: 30px 10px;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: 5px;
  }
}
.card-summary{
  margin-left: 40px;
  letter-spacing: 1px;
  .icon-star-empty{
    padding-left: 5px;
  }
  .icon-pencil{
    float: right;
    font-size: 16px;
  }
}
.info-text{
  color: @white;
  font-size: 14px;
  width: 80%;
  margin: 10px auto;
}
.code{
  color: white;
  font-family: CourierPrimeBold;
  font-size: 30px;
  background-color: @darkgray;
  padding: 15px 10px 10px 10px;
  border-top: 1px solid @ultralightgray;
  border-bottom: 1px solid @ultralightgray;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divider {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: @darkgray;
  font-weight: bold;
}
.divider hr {
  width: 15%;
  border-color: @darkgray;
  &.right{
    margin-left:auto;
    margin-right: 10%;
  }
  &.left{
    margin-right:auto;
    margin-left: 10%;
  }
}
.left {
  float: left;
}

.right {
  float: right;
}
.center {
  text-align: center;
}
.share-options{
  width: 90%;
  margin: 0px auto;
}
.bold{
  font-family: Jura-Bold;
}
.version{
  bottom: 10px;
  font-weight: bold;
  position: fixed;
  width: 100%;
}
.disabled{
  opacity: .7;
  color: @ultralightgray;
}
.dwwr {
  font-family: Jura;
}
input.cardnumber,input.password{
  letter-spacing: 4px;
  &::-webkit-input-placeholder{
    letter-spacing: 0px;
  }
}
.map-canvas{
  width: 100%;
  height: 100%;
  .map{
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
.bottom{
  height: 45vh;
  width: 100vw;
  bottom: 0;
  position: absolute;
}
.top{
  height: 55vh;
  width: 100vw;
  top: 0;
  position: absolute;
}
.gm-style-cc{
  display: none;
}
.tabs{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  .tab{
    position: relative;
    background-color: @ultralightgray;
    color: @darkgray;
    z-index: 0;
    padding: 8px 8px 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    float: right;
    bottom: -3px;
    box-shadow: 0px 0px 10px #333333;
    font-family: Jura-Bold;
    width: 50px;
    text-align: center;
    &.selected{
      background-color: @white;
      color: @darkgray;
      z-index: 1;
    }
  }
  .tab-shadow{
    position: relative;
    width: 100vw;
    bottom: -3px;
    height: 3px;
    float: left;
    box-shadow: 0px 0px 10px @darkgray;
  }
}
.options-canvas{
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: @white;
  position: absolute;
  display: none;
}
.icon-left-dir {
  left: 0px;
}
.icon-right-dir {
  right: 0px;
}
.icon-left-dir,.icon-right-dir{
  top: 70%;
  position: absolute;
  font-size: 30px;
  color: @darkgray;
  padding: 10px 0px;
  z-index: 10;
  display: none;
}
#iscroll-wrapper{
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.places{
  top: 50px;
  width: 400vw; // TODO - dynamically calculate this
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.place {
  width: 100vw;
  float: left;
  color: @white;
  text-align: center;
  text-shadow: 0px 0px 10px @darkgray;
  .name {
    font-size: 25px;
    padding-bottom: 5px;
    font-family: Jura-Bold;
  }
  .description {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .rating {
    font-size: 25px;
    padding-bottom: 20px;
    .highlighted{
      color: @gold;
    }
  }
  .images {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    .image {
      background-size: 20vw 20vw;
      width: 20vw;
      height: 20vw;
      border: 1px solid white;
      display: inline-block;
      margin: 0px 5px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px @darkgray;
    }
  }
  .small-description {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .button {
    background-color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    width: 105px;
    color: @darkgray;
    box-shadow: 0px 0px 10px @darkgray;
    text-shadow: none;
    font-family: Jura-Bold;
    &.left {
      margin-left: 10%;
      float: left;
    }
    &.right {
      margin-right: 10%;
      float: right;
    }
  }
}
.place-details{
  position: absolute;
  height: 100vh;
  top: 50px;
}