<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-user"></i>
    <div class="context-title bold">Profile</div>
    <div class="section-title bold">Account</div>
    <div class="profile-photo">
        <i class="icon-user"></i>
    </div>
    <div class="half">
        <div class="display-text"></div>
        <div class="display-text"></div>
    </div>
    <div class="full">
        <div class="display-text"></div>
        <div class="display-text"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button bold touch-color dark-button sign-out">Sign Out</div>
</div>