<div class="top">
    <div class="menu-icon-container">
        <i class="touch-color icon-menu"></i>
    </div>
    <div id="iscroll-wrapper">
        <ul class="places"></ul>
    </div>
    <div class="tabs">
        <div class="tab selected map">MAP</div>
        <div class="tab options touch-color">OPTIONS</div>
        <div class="tab-shadow"></div>
    </div>
    <div class="left">
        <i class="icon-left-dir"></i>
    </div>
    <div class="right">
        <i class="icon-right-dir"></i>
    </div>
</div>
<div class="bottom">
    <div class="map-canvas">
        <div class="map"></div>
        <div class="icon-target"></div>
    </div>
    <div class="options-canvas"></div>
</div>