<div class="buttons double confirm">
    <div class="title"></div>
    <div class="text">Are you sure?</div>
    <div class="button bold touch-color dark-button no">No</div>
    <div class="button bold touch-color light-button yes">Yes</div>
</div>