<div class="buttons single rateme">
    <div class="title">Rate Us</div>
    <div class="text">Enjoy the app? Tell the world! It won't take a minute, and it'll help us make things even better!</div>
    <div class="button bold touch-color dark-button not-now">Not Now</div>
    <div class="button bold touch-color gray-button never">No Thanks</div>
    <div class="button bold touch-color blue-button rate">Rate</div>
</div>