<div class="form">
    <div class="input single">
        <input placeholder="First Name"/>
    </div>
    <div class="input single">
        <input placeholder="Last Name"/>
    </div>
    <div class="input single">
        <input placeholder="Email Address"/>
    </div>
    <div class="input single">
        <input placeholder="Mobile Number"/>
    </div>
    <div class="input single">
        <input placeholder="Password"/>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button register">Register</div>
</div>