<div class="form">
    <div class="input-container single">
        <input placeholder="Email Address"/>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input placeholder="Password"/>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button register">Sign In</div>
</div>