<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.jsmobile.plugins.sms" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>sms</name>

    <js-module name="sms" src="www/sms.js">
        <clobbers target="window.sms" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Sms">
                <param name="ios-package" value="Sms" />
            </feature>
        </config-file>
        
        <source-file src="src/ios/Sms.h" />        
        <source-file src="src/ios/Sms.m" />
        
        <framework src="MessageUI.framework" weak="true" />        
    </platform>

</plugin>