<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-info"></i>
    <div class="context-title bold">About</div>
    <div>
        <div class="select-text touch-color terms-and-conditions">Terms &amp; Conditions</div>
        <div class="select-text touch-color privacy-policy">Privacy Policy</div>
        <div class="select-text touch-color copyright">Copyright</div>
        <div class="select-text touch-color rate-us">Rate us on <span class="store"></span></div>
    </div>
    <div class="version">Version <span class="number">0.0.1</span></div>
</div>