<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-location"></i>
    <div class="context-title bold">Add Venue</div>
    <div class="form">
        <div class="input-container single">
            <input type="text" maxlength="16" data-validationrules="mandatory name" class="field name" placeholder="Venue Name"/>
            <span class="error-reason">
                <span class="error-text"></span>
                <i class="icon-cancel-circled"></i>
            </span>
            <div class="input-underline"></div>
        </div>
        <div class="input-container single">
            <input type="text" maxlength="40" data-validationrules="mandatory description" class="field description" placeholder="Description"/>
            <span class="error-reason">
                <span class="error-text"></span>
                <i class="icon-cancel-circled"></i>
            </span>
            <div class="input-underline"></div>
        </div>
        <div class="images">
            <div class="image touch-color">
                <i class="icon-camera"></i>
            </div>
            <div class="image touch-color">
                <i class="icon-camera"></i>
            </div>
            <div class="image touch-color">
                <i class="icon-camera"></i>
            </div>
        </div>
        <div class="large-container">
            <div class="map-canvas">
                <div class="map"></div>
                <div class="crosshairs icon-location"></div>
            </div>
            <div class="map-mask-canvas"></div>
        </div>
    </div>
</div>
<div class="buttons double">
    <div class="button bold touch-color dark-button cancel">Cancel</div>
    <div class="button bold touch-color light-button save-card">Save Venue</div>
</div>