<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-users"></i>
    <div class="context-title bold">Friends</div>
    <div id="friends-iscroll-wrapper">
        <ul class="friends"></ul>
    </div>
</div>