<div class="top">
    <div class="surge-title"></div>
    <div class="surge-multiplier"></div>
    <div class="graph"></div>
    <div class="error"></div>
</div>
<div class="bottom">
    <div class="map-canvas">
        <div class="map"></div>
        <div class="crosshairs icon-target"></div>
        <div class="map-buttons">
            <div class="map-button touch-color book">
                <div class="icon uber"></div>
                <div class="text">GET A RIDE</div>
            </div>
        </div>
    </div>
    <div class="map-mask-canvas"></div>
</div>