<div class="top">
    <div class="menu-icon-container">
        <i class="touch-color icon-menu"></i>
    </div>
    <div class="brand">
        <span class="logo"><i class="icon-target"></i></span>
        <span class="name">Epsilon</span>
    </div>
    <div class="tabs">
        <div class="tab selected map">MAP</div>
        <div class="tab options">OPTIONS</div>
        <div class="tab-shadow"></div>
    </div>
</div>
<div class="bottom">
    <div class="map-canvas"></div>
</div>