<nav class="menu slide-menu">
    <ul>
        <li class="touch-color home"><i class="menu-item-icon icon-home"></i>Home</li>
        <li class="touch-color profile"><i class="menu-item-icon icon-user"></i>Profile</li>
        <li class="touch-color payments"><i class="menu-item-icon icon-credit-card"></i>Payments</li>
        <li class="touch-color promotions"><i class="menu-item-icon icon-star"></i>Promotions</li>
        <li class="touch-color share"><i class="menu-item-icon icon-share"></i>Share</li>
        <li class="touch-color support"><i class="menu-item-icon icon-help"></i>Support</li>
        <li class="touch-color about"><i class="menu-item-icon icon-info"></i>About</li>
    </ul>
</nav>
<div class="menu-close"></div>