<div class="dialog-message">Are you sure?</div>
<div class="buttons double">
    <div class="button bold touch-color dark-button no">No</div>
    <div class="button bold touch-color light-button yes">Yes</div>
</div>