<div class="buttons double confirm">
    <div class="title">Profile Photo</div>
    <div class="text">Change your Photo</div>
    <div class="button bold touch-color dark-button camera"><i class="icon-camera"></i>Camera</div>
    <div class="button bold touch-color light-button upload"><i class="icon-file-image"></i>Upload</div>
</div>