<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-credit-card"></i>
    <div class="context-title">Payments</div>
</div>