<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-credit-card"></i>
    <div class="context-title">Payments</div>
    <div class="section-title">Cards</div>
    <div class="full">
        <div class="select-text touch-color">
            <div class="card-image mastercard"></div>
            <div class="card-summary">PERSONAL •••• 0418<i class="icon-pencil"></i></div>
        </div>
        <div class="select-text touch-color">
            <div class="card-image visa"></div>
            <div class="card-summary">PERSONAL •••• 0418<i class="icon-star-empty"></i><i class="icon-pencil"></i></div>
        </div>
    </div>
    <div class="add-card-button">
        <i class="icon-credit-card"></i>
        <i class="icon-plus"></i>
    </div>
</div>