<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-credit-card"></i>
    <div class="context-title bold">Payments</div>
    <div class="section-title bold">Cards</div>
    <div class="full">
        <div data-cardid="1" class="select-text edit-card touch-color">
            <div class="card-image mastercard"></div>
            <div class="card-summary">PERSONAL •••• 0418<i class="icon-pencil"></i></div>
        </div>
        <div data-cardid="2" class="select-text edit-card touch-color">
            <div class="card-image visa"></div>
            <div class="card-summary">PERSONAL •••• 0418<i class="icon-pencil"></i></div>
        </div>
    </div>
    <div class="right">
        <div class="text-and-icon-button add-card touch-color">
            <span class="text">Add Card</span>
            <i class="icon-credit-card"></i>
            <i class="icon-plus"></i>
        </div>
    </div>
</div>