<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-star"></i>
    <div class="context-title">Promotions</div>
    <div class="form">
        <div class="input-container single short">
            <input type="text" data-validationrules="mandatory" class="field promo-code" placeholder="Enter Promo Code"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
            <div class="input-underline"></div>
        </div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button apply-promotion">Apply</div>
</div>