<div class="form">
    <div class="input-container single">
        <input type="text" data-validationrules="mandatory name" class="field firstname" placeholder="First Name"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" data-validationrules="mandatory name" class="field surname" placeholder="Last Name"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="text" data-validationrules="mandatory emailaddress" class="field emailaddress" placeholder="Email Address"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="number" step="1" data-validationrules="mandatory mobilenumber" class="field mobilenumber" placeholder="Mobile Number"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
    <div class="input-container single">
        <input type="password" data-validationrules="mandatory password" class="field password" placeholder="Password"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button register">Register</div>
</div>