<div class="menu-icon-container">
    <i class="touch-color icon-menu"></i>
</div>
<div class="content">
    <i class="context-icon icon-share"></i>
    <div class="context-title bold">Share</div>
    <div class="info-text">When a friend claims your code, you both get &pound;10!</div>
    <div class="code"></div>
    <div class="divider bold">
        <hr class="left"/>
        Share Your Code
        <hr class="right"/>
    </div>
    <div class="share-options">
        <div class="touch-color large-icon-button share-via-email">
            <i class="icon-mail"></i>
            <div class="icon-text bold">via Email</div>
        </div>
        <div class="touch-color large-icon-button share-via-sms">
            <i class="icon-comment"></i>
            <div class="icon-text bold">via SMS</div>
        </div>
    </div>
</div>