<div class="form">
    <div class="input-container single">
        <input type="password" class="password" placeholder="New Password"/>
        <span class="error-reason">
            <span class="error-text"></span>
            <i class="icon-cancel-circled"></i>
        </span>
        <div class="input-underline"></div>
    </div>
</div>
<div class="buttons single">
    <div class="button touch-color dark-button reset">Reset Password</div>
</div>